/*home page and general css*/
body{
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: georgia;
  background-color: #FFFFFF;
   overflow-x: hidden;
}

#mainContainer {
padding-top: 0px;
margin-top: 0px;
margin-bottom: 10px;
}
#menu{
  margin: 0;
  display: inline-block;
  height:100px;
  width: 100%;
  background-color: #290661;
  position: fixed;
  color: #EEE6FB;
}

#menuLinks{
  position: absolute;
  bottom: 5px;
}
h1{
  margin: 0;
  margin-left: 10px;
  padding: 0px;
  text-shadow: 2px 2px #4B3E61;
}
a{
  color: #EEE6FB;
  background-color: #4B3E61;
    padding: 5px 10px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin-left: 350px;
    margin-right: 100px;
}
a:link, a:visited{
  color: #4B3E61;
  font-size: 20px;
  background-color: #EEE6FB;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

#header {
  height: 145px;
  width: 92%;
  padding-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 5px;
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #290661;
  text-align: center;
}
#description{
  margin: 5px;
}
#graphs{
  background-size: cover;
  display: inline-block;
  margin: 20px;
  padding: 3px;
  text-align: center;
  vertical-align: center;
}
#graph1{
  color: #290661;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    width: 40%;
      vertical-align: center;
}
#graph2{
  color: #290661;
    display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
        width: 40%;
        vertical-align: center;
}
img{
  max-width: 100%;
  height: auto;

}

/*Gender Page*/
#genderHeader {
  display: inline-block;
  height: 300px;
  width: 92%;
  padding-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 5px;
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #290661;
  text-align: center;
}
#genderPhoto{
  text-align: left;
  display: inline-block;
  max-width: 33%;
  padding-top: 20px;
  margin: 10px;
}

#genderDescription{
  display:inline-block;
  max-width: 60%;
  margin:10px;
  font-size: 17px;
  text-overflow: ellipsis;

}
#genderContent{
  display: inline-block;
  width: 100%;
  text-align: center;
}
#genderGraph{
  display: inline-block;
  margin: 5px;
  color: #290661;
  text-align: center;
  width: 46%;
  border-color: #290661;
  border-style: solid;
}
#genderCovid{
  width: 46%;
  display: inline-block;
  margin: 5px;
  color: #290661;
  text-align: center;
  border-color: #290661;
  border-style: solid;
}

#genderLinks{
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #4B3E61;
  width:90%;
  height: 130px;
  text-align: center;
  margin-left: 5%;
  margin-right: 2%;
}
.genderDonate a{
  display: inline-block;
  color: #290661;
  font-size: 16px;
  text-decoration: underline;
  margin: 10px;
}

/*race page*/
#raceHeader{
  display: inline-block;
  height: 300px;
  width: 92%;
  padding-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 5px;
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #290661;
  text-align: center;
}
#racePhoto{
  display: inline-block;
  max-width: 33%;
  padding-top: 20px;
  margin: 10px;
}

#raceDescription{
  display:inline-block;
  max-width: 60%;
  margin:10px;
  font-size: 17px;
  text-overflow: ellipsis;

}
#raceContent{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
#raceGraph{
  display: inline-block;
  margin: 5px;
  color: #290661;
  text-align: center;
  width: 46%;
  border-color: #290661;
  border-style: solid;
}
#raceCovid{
  width: 46%;
  display: inline-block;
  margin: 5px;
  color: #290661;
  text-align: center;
  border-color: #290661;
  border-style: solid;
}

#raceLinks{
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #4B3E61;
  width:90%;
  height: 180px;
  text-align: center;
  margin-left: 5%;
  margin-right: 2%;
}
.raceDonate a{
  display: inline-block;
  color: #290661;
  font-size: 16px;
  text-decoration: underline;
  margin: 10px;
}
